absl-py==1.0.0
alembic==1.7.7
attrs==21.4.0
awscli==1.22.87
boto3==1.21.32
botocore==1.24.32
cachetools==4.2.4
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.2
cloudpickle==2.0.0
colorama==0.4.3
databricks-cli==0.16.6
Deprecated==1.2.13
docker==5.0.3
docstring-parser==0.13
docutils==0.15.2
entrypoints==0.4
fire==0.4.0
Flask==2.1.1
gitdb==4.0.9
GitPython==3.1.27
google-api-core==2.7.1
google-api-python-client==1.12.11
google-auth==1.35.0
google-auth-httplib2==0.1.0
google-cloud-core==2.2.3
google-cloud-storage==1.44.0
google-crc32c==1.3.0
google-resumable-media==2.3.2
googleapis-common-protos==1.56.0
greenlet==1.1.2
gunicorn==20.1.0
httplib2==0.20.4
idna==3.3
importlib-metadata==4.11.3
itsdangerous==2.1.2
Jinja2==3.1.1
jmespath==1.0.0
joblib==1.1.0
jsonschema==3.2.0
kfp==1.8.12
kfp-pipeline-spec==0.1.14
kfp-server-api==1.8.1
kubernetes==18.20.0
Mako==1.2.0
MarkupSafe==2.1.1
mlflow==1.24.0
numpy==1.22.3
oauthlib==3.2.0
packaging==21.3
pandas==1.4.2
prometheus-client==0.13.1
prometheus-flask-exporter==0.19.0
protobuf==3.20.0
pyarrow==7.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydantic==1.9.0
PyJWT==2.3.0
pyparsing==3.0.7
pyrsistent==0.18.1
python-dateutil==2.8.2
pytz==2022.1
PyYAML==5.4.1
querystring-parser==1.2.4
requests==2.27.1
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
rsa==4.7.2
s3transfer==0.5.2
scikit-learn==1.0.2
scipy==1.8.0
six==1.16.0
sklearn==0.0
smmap==5.0.0
SQLAlchemy==1.4.34
sqlparse==0.4.2
strip-hints==0.1.10
tabulate==0.8.9
termcolor==1.1.0
threadpoolctl==3.1.0
typer==0.4.1
typing_extensions==4.1.1
uritemplate==3.0.1
urllib3==1.26.9
websocket-client==1.3.2
Werkzeug==2.1.1
wrapt==1.14.0
zipp==3.8.0
